<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href ="/img/weather.png">
</head>
<body>
    <div class=main-content>
        {{>header}}
        <h3>This site was created by Kostas Vogiatzis. It uses data from mapbox.com and weatherstack.com!</h3>
        <img class="portrait" src ="img/7470.png">
        <p>{{name}} is at location {{place}} and the weather is {{forecast}}</p>
    </div>
    {{>footer}}
</body>
</html>