<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href ="/img/weather.png">
    </head>
    <body>
        <div class=main-content>
            {{>header}}
            <p> After <b>{{num}} days</b> of swimming i crossed the sea</p>
        </div>
        {{>footer}}
    </body>
</html>